body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family: 'Nunito', sans-serif;
    font-size: 11pt;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 25% 75%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: #6d9499;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
	color: #ffffff;
}

.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: #82acb2;
	overflow: auto;
	font-family: 'Nunito', sans-serif;
}

.content {
	grid-area: content;
	padding: 0px;
	font-family: 'Nunito', sans-serif;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: #6d9499;
	font-family: 'Nunito', sans-serif;
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: gainsboro; /* background color */
    border: 1px solid rgb(255, 255, 255); /* border width, style, and color */
    margin: 5px; /* outer padding */
    cursor: pointer; /* change cursor to hand on hover */
}

.sidebar-item:hover {
	background: #618185;
}